<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /phpproject/Frameworks/Codeigniter/LearnBlog/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1  [L]
</IfModule>